.works{
  &__title{
    font-family: 'Heebo', sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
    padding-top: 40px;
  }
  .menu__work-title_work{
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
  }
  &__list{
    padding-left: 0;
  }

  &__item{
    display: flex;
    border-bottom: 1px solid #E0E0E0;
    margin-top: 30px;
    padding-bottom: 30px;
  }

  &__article{
    display: flex;
    flex-direction: column;
  }

  &__article-title{
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    margin-top: 30px;
    margin-bottom: 0;
    text-decoration: none;
    &:hover{
      opacity: 0.6;
    }
  }

  &__article-date{
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: #FFFFFF;
    background: #142850;
    border-radius: 16px;
    padding-top: 6px;
    width: 62px;
    height: 25px;
    margin-top: 18px;
    margin-bottom: 0;
    text-align: center;
  }

  &__article-prog{
    font-family: 'Heebo', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
    padding-left: 26px;
    margin-top: 18px;
    margin-bottom: 0;
  }

  &__article-wrapper{
    display: flex;
  }

  &__article-text{
    max-width: 560px;
    font-family: 'Heebo', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    padding-top: 22px;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__img{
    padding-right: 18px;
    padding-top: 35px;
  }
}

@media (max-width: 668px) {
  .works{
    & &__item{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    & &__item_delete{
      display: none;
    }
    & &__article-img{
      width: 318px;
      height: 232px;
    }
    & &__article{
      margin: 0 auto;
    }
    & &__article-title{
      font-size: 24px;
      line-height: 30px;
    }
    & &__article-prog{
      font-size: 16px;
      line-height: 23px;
    }
    & &__article-date{
      font-size: 16px;

    }
    & &__article-wrapper{
      align-items: center;
    }
    & &__img{
      padding-right: 0;
      padding-top: 0;
    }
    & &__title{
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 480px) {
  .menu__work-title_work{
    font-size: 30px;
    line-height: 60px;
  }
}

@media (max-width: 320px) {
  .works{
    & &__title{
      font-size: 18px;
      line-height: 60px;
    }
  }
}

@media (min-width: 668px){
  .works{
    & &__item_minwidth{
      display: none;
    }
  }
}