.app{
  background: #F5F8FF;
  padding-top: 200px;

  &__container{
    display: flex;
    padding-left: 310px;
  }

  &__left-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
    padding-bottom: 27px;
 }

  &__title{
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    color: #3D4F9F;
    padding-bottom: 27px;
  }

  &__text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #8D96BD;
    padding-bottom: 47px;
    max-width: 413px;
  }

  &{
    display: flex;
  }

  &__button-view{
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;


    width: 130.08px;
    height: 43px;
    background: #4C85FF;
    box-shadow: 0 5px 15px rgba(188, 199, 255, 0.75);
    border-radius: 2px;
    border: none;
  }

  &__button-see{
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ADB4D2;

    width: 130.08px;
    height: 43px;
    border-radius: 2px;
    background: #F5F8FF;
    border: 1px solid #ADB4D2;
    padding-left: 21px;
    &:hover{
      opacity: .6;
      cursor: pointer;
    }
  }

  &__button-text{
    padding-right: 6px;
    padding-left: 26px;


    &:hover{
      opacity: .6;
      cursor: pointer;
    }
  }

  &__button-wrapper{
    display: flex;
  }
}
