.plan{
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
  padding-top: 91px;
  padding-bottom: 91px;
  position: relative;
  &__text-up{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 16px;
  }

  &__title{
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 28px;
  }

  &__text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.03em;
    max-width: 712px;
    color: #FFFFFF;
    margin: 0 auto;
    padding-bottom: 28px;
  }

  &__wrapper-button{
    display: flex;
    justify-content: center;
  }

  &__button-left{
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    color: #565F82;
    width: 130.08px;
    height: 43px;
    background: #FFFFFF;
    box-shadow: 0 5px 15px #6480E8;
    border-radius: 2px;
    padding-left: 17px;
  }

  &__button-right{
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 8px;
    color: #C7D3FF;
    width: 155px;
    height: 43px;
    border: 1px solid #fff;
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
  }

  &__image-left{
    position: absolute;
    left:54px;
    top:25px;
  }

  &__image-right{
    position: absolute;
    right: 70px;
    top: 173px;
  }

  &__button-left-text{
    &:hover{
      opacity: .6;
      cursor: pointer;
    }
  }

  &__button-right-text{
    &:hover{
      opacity: .6;
      cursor: pointer;
    }
  }
}