.qoutes{
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
  padding-top: 109px;
  padding-bottom: 108px;
  &__container{
    max-width: 890px;
    margin: 0 auto;
    display: flex;
  }

  &__text-left-up{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-bottom: 30px;
    color: #3D4F9F;
  }

  &__title-left{
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    color: #3D4F9F;
    padding-bottom: 24px;
  }

  &__text-left{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 0.03em;

    color: #A4ABC8;
  }

  &__wrapper-left{
    padding-right: 132px;
  }

  &__wrapper-right-block{
    width: 423px;
    height: 175.37px;
    background: #FFFFFF;
    border: 1px solid #D8E3FE;
    box-sizing: border-box;
    box-shadow: 0 5px 50px #F3F5FA;
  }

  &__right-text{
    padding-top: 41px;
    margin: 0 auto;
    max-width: 283px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: #676F95;
  }

  &__wrapper-right{
    position: relative;
  }

  &__right-img-wrapper{
    position: absolute;
    right: 181px;
    top: 140px;
  }

  &__wrapper-button{
    padding-top: 47px;
  }
}