.signup {
  padding-top: 118px;
  padding-bottom: 118px;
  border-bottom: 1px solid  #AEB8D0;
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #3D4F9F;
    padding-bottom: 18px;
  }

  &__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #8D96BD;
    max-width: 330px;
  }

  &__wrapper-right {
    display: flex;
  }

  &__email {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    color: #7A85AD;
    width: 279px;
    height: 59px;
    background: #EFEFF7;
    border-radius: 5px;
  }

  &__button{
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    color: #FFFFFF;
    width: 184px;
    height: 59px;
    background: #4D6CE1;
    box-shadow: 0 5px 15px rgba(116, 104, 255, 0.2);
    border-radius: 5px;
    padding-left: 62px;
    margin-left: 14px;
  }

  &__button-text{
    &:hover{
      opacity: .6;
      cursor: pointer;
    }
  }
}