@font-face {
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Roboto-Regular.woff') format('woff');
}
@font-face {
  font-family: 'SairaSemiCondensed-Regular';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/SairaSemiCondensed-Regular.woff') format('woff');
}
@font-face {
  font-family: 'SairaSemiCondensed-Medium';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/SairaSemiCondensed-Medium.woff') format('woff');
}
@font-face {
  font-family: 'SairaSemiCondensed-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/SairaSemiCondensed-SemiBold.woff') format('woff');
}