.rooms {
  &__container {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__headline {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 47px;
    color: #000000;
  }

  &__text {
    text-align: center;
    max-width: 760px;
    margin-top: 40px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.55);
  }

  &__item {
    flex: 0 1 28%;
    max-width: 28%;
  }

  &__list {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item-title {
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: 25px;
    line-height: 33px;
    color: #000000;
    margin-top: 16px;
  }

  &__item-price {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: #5C98F3;
    margin-top: 8px;
  }

  &__item-img{
    max-width: 100%;
  }
}



