@font-face {
  font-family: 'CircularStd-Medium';
  src: url('/fonts/CircularStd-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SofiaProMedium';
  src: url('/fonts/SofiaProMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SofiaProBold';
  src: url('/fonts/SofiaProBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}