/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.header:after {
  content: "";
  display: flex;
  height: 1px;
  width: 900px;
  background: #828282;
  margin: 0 auto;
  margin-top: 31px;
}
.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container {
  margin-top: 33px;
}
.header .header__burger-button {
  margin-top: 68px;
}
.header__link {
  font-family: "Gilroy-bold", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
  font-weight: bold;
  text-decoration: none;
}
.header__link:hover {
  font-family: "Gilroy-bold", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  text-decoration: none;
}

@media (max-width: 920px) {
  .header:after {
    content: "";
    display: none;
  }
}
@media (max-width: 576px) {
  .header__nav-list {
    display: none;
  }
  .header .header__container {
    display: flex;
    margin-top: 0;
  }
  .header .header__burger-button {
    margin-left: auto;
  }
}
@media (min-width: 576px) {
  .header .header__burger-button {
    display: none;
  }
}
.banner {
  margin-top: 30px;
  padding-bottom: 49px;
}
.banner__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner__title {
  font-family: "Gilroy-bold", sans-serif;
  font-weight: bold;
  font-size: 47.3392px;
  line-height: 59px;
  color: #070707;
  max-width: 123px;
}
.banner__text {
  font-family: "Gilroy-bold", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}
.banner__link-wrapper {
  transform: rotate(270deg);
  margin-right: 0;
}
.banner__link {
  font-family: "Gilroy-bold", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  text-decoration: none;
  border-right: 2px solid #000;
  padding-right: 6px;
}
.banner__link:last-child {
  border-right: none;
  padding-right: 0;
}
.banner__link:hover {
  font-family: "Gilroy-bold", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #070707;
  text-decoration: none;
}
.banner__image {
  width: 100%;
  height: 387px;
}
.banner__wrapper-image {
  display: flex;
}

@media (min-width: 576px) {
  .banner__image-adapt {
    display: none;
  }
}
@media (max-width: 576px) {
  .banner {
    top: 65px;
    margin-top: 0;
  }
  .banner__link-wrapper {
    display: none;
  }
  .banner__title {
    margin: 0;
    padding-bottom: 23px;
  }
  .banner__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .banner__text {
    padding-bottom: 36px;
  }
  .banner__image-adapt {
    display: flex;
    align-self: center;
    width: 100%;
  }
  .banner__image {
    display: none;
  }
}
.about {
  background: #F6F6F6;
  padding-top: 120px;
  padding-bottom: 120px;
}
.about__title {
  font-family: "Gilroy-bold", sans-serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}
.about__wrapper-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.about__text {
  font-family: "Gilroy-bold", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  max-width: 485px;
}
.about__text-one {
  padding-bottom: 45px;
}
.about__text-two {
  padding-bottom: 45px;
}

@media (max-width: 576px) {
  .about {
    padding-top: 80px;
    padding-bottom: 76px;
  }
}
.skills {
  padding-top: 145px;
  padding-bottom: 110px;
}
.skills__title {
  font-family: "Gilroy-bold", sans-serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}
.skills__text {
  font-family: "Gilroy-bold", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  padding-top: 69px;
}
.skills__wrapper-image {
  display: flex;
}
.skills__list {
  display: flex;
  justify-content: center;
  padding-top: 83px;
}
.skills__item {
  padding-right: 90px;
}
.skills__item:last-child {
  padding-right: 0;
}

@media (max-width: 576px) {
  .skills {
    padding-top: 83px;
    padding-bottom: 98px;
  }
  .skills .skills__text {
    padding-top: 50px;
  }
  .skills .skills__list {
    flex-direction: column;
    margin: 0 auto;
    padding-top: 70px;
  }
  .skills .skills__item {
    padding-right: 0;
    padding-bottom: 80px;
  }
}
.portfolio {
  background: #F6F6F6;
  padding-top: 112px;
}
.portfolio__title {
  font-family: "Gilroy-bold", sans-serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  padding-bottom: 47px;
}
.portfolio__image {
  width: 100%;
  padding-bottom: 44px;
}
.portfolio__link-wrapper {
  padding-bottom: 99px;
  text-align: center;
}
.portfolio__link {
  font-family: "Gilroy-bold", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  color: #070707;
}
.portfolio__link:hover {
  opacity: 0.6;
}

@media (max-width: 576px) {
  .skills {
    padding-top: 81px;
  }
  .skills .skills__link-wrapper {
    padding-bottom: 80px;
  }
}
.footer {
  padding-top: 114px;
  padding-bottom: 123px;
}
.footer__title {
  font-family: "Gilroy-bold", sans-serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}
.footer__text {
  font-family: "Gilroy-bold", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  padding-top: 20px;
  text-align: center;
}
.footer__text:last-child {
  padding-top: 0;
}
.footer__text__text-wrapper {
  padding-bottom: 30px;
}
.footer__button {
  font-family: "Gilroy-bold", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #F6F6F6;
  width: 180px;
  height: 42px;
  border: 5px solid black;
  border-radius: 40px;
  background: black;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}
.footer__wrapper-text {
  display: flex;
  flex-direction: column;
}
.footer__wrapper-image {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 85px;
}
.footer__image-text {
  font-family: "Gilroy-bold", sans-serif;
  font-weight: 500;
  padding-top: 45px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}
.footer__image-text:last-child {
  padding-top: 0;
}

@font-face {
  font-family: "Gilroy-medium";
  src: url("/fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-bold";
  src: url("/fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 940px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.hamburger {
  padding: 0 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.6;
}
.hamburger.is-active:hover {
  opacity: 0.6;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 30px;
  height: 17px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #000;
  border-radius: 0;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -7px;
}
.hamburger-inner::after {
  bottom: -7px;
}

/*
 * Collapse
 */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
  top: -14px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -7px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*# sourceMappingURL=style.css.map */
