@font-face {
  font-family: 'Gilroy-medium';
  src: url('/fonts/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-bold';
  src: url('/fonts/Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}